rules_version = '2';

// Allow public read access to all files, but restrict write access
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Allow public read access to all files
      allow read: if true;
      
      // Restrict write access (only authenticated users or admins)
      allow write: if false;
    }
  }
}
